@model IEnumerable<EstadoCidade.Web.Models.EstadoViewModel>

@{
    ViewBag.Title = "Lista de Estados";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Criar novo", "Cadastrar", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regiao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regiao)
            </td>
            <td>
                <a href="#" class="btn btn-danger btn-excluir" data-id="@item.Id">
                    <i class="icon-remove icon-white"></i> Excluir
                </a>
                
                <a href="@Url.Action("Editar", new { id = item.Id })" class="btn btn-success">
                    <i class="icon-edit icon-white"></i> Editar
                </a>
            </td>
        </tr>
    }

</table>

<div id="modalExcluir" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Confimação de exclusão</h3>
    </div>
    <div class="modal-body">
        <p>Você deseja realmente excluir este item?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Não</button>
        <button id="btn-confirmar-excluir" class="btn btn-primary" data-dismiss="modal" data-url="/api/estado">Sim</button>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/Excluir.js"></script>
}
